.title{
    
    font-size: 2.5rem;
}
.background{
    background-color: rgba(245,223,78,255);
}
.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img{
    border-radius:50%;
}
.mbody{
    margin-top: 7.5rem;
}
.text{
    font-size: 2.7rem;
}
.about{
    text-align: center;
    margin-top: 4rem;;
}
.textabout{
    background-color: rgba(245,223,78,255);
}
.exp{
    text-align: center;
}
.circle{
    background: rgba(245,223,78,255);
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 1.5em;
    width: 1.5em;
    margin-left: auto;
    margin-right: auto;
    
}
.back{
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.details{
    padding-top: 4rem;

}
.icon{
    width:5rem;
    height: 5rem;
    margin-bottom: 1rem;
}
.iconsrow{
    text-align: center;
}
.section2nd{
    background-color: #f2f2f2;
}
.submitbtn{
    text-align: center;
}
.map{
    align-items: center;
}
.contactform{
    align-items: center;
}
.sbmtbtn{
    background-color: rgba(245,223,78,255);
    border: none;
    border-radius: 8px;
    height: 2rem;
    
}
.icons{
    color: black;
    font-size: 1.5rem;
    
}
.header-section{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.valid{
    color: #dc3545;
}
a{
    text-decoration: none;
    
}
.navbar{
    text-align: right;
    
}
.comming{
    background-color: rgba(245,223,78,255);
}
.come{
    padding: 3rem;
    font-size: 3rem;
}

@media screen and (max-width:400px) {
    .title{
        font-size: 1.9rem;
    }
    .text{
        font-size: 2.4rem;
    }
}